.icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.wrapper .astro:hover .tooltip,
.wrapper .astro:hover .tooltip::before {
  background: #ff5d01;
  color: white;
}

.wrapper .html:hover .tooltip,
.wrapper .html:hover .tooltip::before {
  background: #fc4909;
  color: white;
}

.wrapper .tailwind:hover .tooltip,
.wrapper .tailwind:hover .tooltip::before {
  background: #14b4c6;
  color: white;
}

.wrapper .react:hover .tooltip,
.wrapper .react:hover .tooltip::before {
  background: #149eca;
  color: white;
}

.wrapper .css:hover .tooltip,
.wrapper .css:hover .tooltip::before {
  background: #2196f3;
  color: white;
}

.wrapper .nodejs:hover .tooltip,
.wrapper .nodejs:hover .tooltip::before {
  background: #80bd02;
  color: white;
}

.wrapper .expressjs:hover .tooltip,
.wrapper .expressjs:hover .tooltip::before {
  background: #80bd02;
  color: white;
}

.wrapper .javascript:hover .tooltip,
.wrapper .javascript:hover .tooltip::before {
  background: #ffc008;
  color: black;
}

.wrapper .typescript:hover .tooltip,
.wrapper .typescript:hover .tooltip::before {
  background: #3078c6;
  color: white;
}

.wrapper .cors:hover .tooltip,
.wrapper .cors:hover .tooltip::before {
  background: red;
  color: white;
}
